/**$*$********************************************************************
*$*$                         Imagenes                                    *
*$*$**********************************************************************/
$imgIndex1: "../images/index/IndexAccesorios.jpg";
$imgIndex1Cel: "../images/index/IndexAccesorios_cel.jpg";
$imgIndex2: "../images/index/IndexAccesorios.jpg";
$imgIndex2Cel: "../images/index/IndexAccesorios_cel.jpg";
$imgIndex3: "../images/index/IndexAccesorios.jpg";
$imgIndex3Cel: "../images/index/IndexAccesorios_cel.jpg";
$imgIndex4: "../images/index/IndexAccesorios.jpg";
$imgIndex4Cel: "../images/index/IndexAccesorios_cel.jpg";
//$fondoContacto: "../images/contacto/imgForm.png";
$menuResponsive: "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 240, 229, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E";

/**$*$********************************************************************
*$*$                    Background-color - Color                         *
*$*$**********************************************************************/
$colorH1: rgb(70, 70, 70);
$colorH2: rgb(70, 70, 70);
$colorH3: rgb(82, 81, 81);
$colorHeaderBackground: #11c59c;
$colorMenuHover: #70f7e0;
$colorTextoImgIndex: white;
$colorMenuResponsive: rgb(240, 240, 229);
$colorTextoFooter: rgb(170, 168, 168);
$colorTextoHoverFooter: #2a77d6;
$colorLinkServicios: rgb(70, 70, 70);
$fondoBody: rgb(243, 239, 239);
$fondoOverlayGaleria: rgba(0, 0, 0, 0.4);
$fondoFormResponsive: white;
$fondoWhatsapp: #25d366;
$iconWhatsapp: #fff;
$textoFounder: rgb(230, 228, 228);

/**$*$********************************************************************
*$*$                    Width                                            *
*$*$**********************************************************************/
$widthIndexFoto: 70%;
