$font-principal: "EXO", sans-serif;
$font-secundario: "Roboto", condensed, sans-serif;
$font-size-parrafo: 17px;
$font-weight-parrafo: 200;

// @media screen and (max-width: 599px)
$font-weight-menu: normal;
$font-size-menu: 14px;
