@import "../utilities/variables";
@import "../utilities/mixins";

/**$*$********************************************************************
*$*$             404                                                     *
*$*$*********************************************************************/
.error404 {
  @include anchoAlto(100%, 300px);
  background: url(../images/404.png) no-repeat center center/cover;
}

/**$*$********************************************************************
*$*$                         ELEMENTOS - TAG                             *
*$*$**********************************************************************/
body {
  font-family: $font-principal;
  background-color: $fondoBody;
}

h1 {
  color: $colorH1;
}

h2 {
  color: $colorH2;
}

h3 {
  color: $colorH3;
}

p {
  line-height: 1.5;
  font-size: $font-size-parrafo;
  font-weight: $font-weight-parrafo;
}

.separador {
  @include anchoAlto(100%, auto);
  margin-top: 30px;
}

/**$*$********************************************************************
*$*$                         WIDGET                                      *
*$*$**********************************************************************/
.whatsappWidget {
  position: fixed;
  @include anchoAlto(60px, 60px);
  bottom: 40px;
  right: 40px;
  background-color: $fondoWhatsapp;
  color: $iconWhatsapp;
  border-radius: 40px;
  text-align: center;
  font-size: 37px;
  z-index: 100;
}

.whatsappWidget:hover {
  text-decoration: none;
  background-color: $fondoWhatsapp;
  color: $iconWhatsapp;
}

/**$*$********************************************************************
*$*$                         MEDIA QUERYS                                *
*$*$**********************************************************************/

/*NOTEBOOK + LAP + ESCRITORIO DISPOSITIVOS LARGOS*/
@media screen and (max-width: 992px) {
  .containerFormulario {
    @include anchoAlto(95%, auto);
  }
}

/*TABLET LANDSCAPE UP DISPOSITIVOS MEDIOS*/
@media screen and (max-width: 768px) {
  .mainIndumentaria {
    grid-template-columns: repeat(2, minmax(350px, 760px));
  }
}

/*TELEFONOS - DISPOSITIVOS XS*/
@media screen and (max-width: 600px) {
  .indexFoto1 {
    //bg-color bg-image bg-repeat bg-position/bg-size bg-attachment: ;
    background: url($imgIndex1Cel) no-repeat center center/cover fixed;
  }

  .indexFoto2 {
    //bg-color bg-image bg-repeat bg-position/bg-size bg-attachment: ;
    background: url($imgIndex2Cel) no-repeat center center/cover fixed;
  }

  .indexFoto3 {
    //bg-color bg-image bg-repeat bg-position/bg-size bg-attachment: ;
    background: url($imgIndex3Cel) no-repeat center center/cover fixed;
  }

  .indexFoto4 {
    //bg-color bg-image bg-repeat bg-position/bg-size bg-attachment: ;
    background: url($imgIndex4Cel) no-repeat center center/cover fixed;
  }

  .containerFormulario {
    @include anchoAlto(90%, auto);
  }

  .flexAccesorios {
    flex-direction: column;
  }

  .flexCollares,
  .flexTobilleras {
    flex-direction: column-reverse;
  }

  .boxAccesorios {
    width: 100%;
    margin-bottom: 4%;
  }
}

/*TELEFONOS LANDSCAPE + TABLET VERTICAL DISPOSITIVOS SMALLS*/
@media screen and (max-width: 599px) {
  .mainIndumentaria {
    grid-template-columns: repeat(1, minmax(100px, 599px));
  }

  .header__logo {
    @include anchoAlto(80px, auto);
  }

  .boxFormulario {
    @include anchoAlto(90%, auto);
  }

  .containerFormulario {
    background: $fondoFormResponsive;
  }

  .title {
    top: 50%;
  }

  .header__menuSecciones {
    font-weight: $font-weight-menu;
    font-size: $font-size-menu;
    letter-spacing: 1px;
    margin-left: 30px;
  }

  .header__menuSecciones:hover {
    background-color: transparent;
  }

  .whatsappWidget {
    @include anchoAlto(50px, 50px);
    bottom: 20px;
    right: 20px;
    font-size: 33px;
    z-index: 100;
  }

  .map-responsive {
    height: 350px;
  }
}

/*TELEFONOS LANDSCAPE + TABLET VERTICAL DISPOSITIVOS SMALLS*/
@media screen and (max-width: 370px) {
  .whatsappWidget {
    @include anchoAlto(50px, 50px);
    bottom: 80px;
    right: 70px;
    font-size: 33px;
    z-index: 100;
  }
}

/*TELEFONOS LANDSCAPE + TABLET VERTICAL DISPOSITIVOS XXSMALLS*/
@media screen and (max-width: 340px) {
  .whatsappWidget {
    @include anchoAlto(50px, 50px);
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 100px;
    right: 30px;
    font-size: 33px;
    z-index: 100;
    width: 50px;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }

  .map-responsive {
    height: 300px;
  }
}
